* {
  margin: 0;
  padding: 0;
}
.House {
  // cursor: crosshair;
  background-color: #000;
  height: 100vh;
  width: 100vw;

  main {
    color: #EFEFEF;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
      cursor: not-allowed;
      color: red;
      background: none;
      border: none;

      font-family: "Permanent Marker";
      font-size: 26px;
      padding: 16px;
    }
  }
}

.disorient {
  cursor: none;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}
